.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.popular h1{
    font-weight: 600;
    font-size: 50px;
    color: #FF4141;
}
.popular h1:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: black;
    
}
.popular_item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}